<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Ratio</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.981520722584-dcs2lgtfa1pvipka4vuquvv9nct9u0t0</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.mg.ratio</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ratio</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FIREBASE_ANALYTICS_COLLECTION_ENABLED</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.educational-games</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>Newsreader-Text-Regular.ttf</string>
		<string>Newsreader-Text-Medium.ttf</string>
		<string>Newsreader-Text-SemiBold.ttf</string>
		<string>Newsreader-Text-Italic.ttf</string>
		<string>Newsreader-Display-Regular.ttf</string>
		<string>Newsreader-Display-SemiBold.ttf</string>
		<string>Newsreader-Display-Italic.ttf</string>
		<string>IBMPlexMono-Regular.ttf</string>
		<string>IBMPlexMono-Medium.ttf</string>
		<string>IBMPlexMono-Italic.ttf</string>
		<string>AtkinsonHyperlegible-Regular.ttf</string>
		<string>AtkinsonHyperlegible-Bold.ttf</string>
		<string>AtkinsonHyperlegible-Italic.ttf</string>
		<string>AtkinsonHyperlegible-BoldItalic.ttf</string>
	</array>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
